/*
	2008 by namics ag, Noel Bossart
*/

@media all { 
    .picgallery ul		{ _margin-top: -1px; }     

	/* sub-variations */  
	.picgallery3 li		{ _width: 30%; padding: 7px 1%; }
    .picgallery4 li		{ _width: 22%; padding: 7px 1%; }
    .picgallery5 li		{ _width: 17%; padding: 7px 1%; }

	/* variations */
}