﻿/* 
	© 2008 by namics ag, Noel Bossart
*/

@media all {

	/* general definition */

	/* sub-variations */  
	
	/* variations */
	.previewImage			{ padding-bottom: 7px; margin-bottom: 0; }
	
	.previewImage .box		{ _height: 75px; _margin-bottom: 0;} 
	.previewImage .boxFlex	{  } 
	
	.previewEmpty .box		{ _height: 75px; }
}