@media all {

	.errorMessage					{}
	.errorContainer,
	.errorTxt		 				{ background-color: #ffdbdb !important; color: #802525; margin-bottom:5px; }
	.errorContainer span,
	.errorTxt span					{ display:block; padding:5px; color: #802525; }
	.errortxtimg						{ background: #ffdbdb url(img/msg_icon_error_small.gif) left center no-repeat; padding-left: 20px !important;}
	.errorContainerbg		 		{ background-color: #ffdbdb !important; }
	.errorContainer					{ width: auto; }
	.dialog div.errorContainer 		{ margin-right: 19px; } 
	
	.errorTxtIndent {
		padding-left: 5px;
	}

	tr.errorrow td,
	table.whitebg tr.errorrow td,
	.errorrow { background: #ffdbdb !important;	color: #802525;	/*padding:10px 0;	border-bottom:2px solid #fff !important; */}
	
	/* error validation verbesserung 24/06/08 */
	table.mediaselect tr.expandedtablerow td table { margin-left: 0; width:655px;}
	table.mediaselect tr.expandedtablerow td td {padding-left:25px;}

	tr.errorrow label { color:#802525; }
	.validation { background: url(img/msg_icon_error_small.gif) left center no-repeat; font-size:10px; color:#d34545; padding: 10px 0 10px 20px; display: none;}
	input.errorfield { border-top:1px solid #802525;border-right:1px solid #d34545;border-bottom:1px solid #d34545;border-left:1px solid #802525;}
	
	
	.infoMessage					{}
	.infoContainer,
	.infoTxt		 				{ background-color: #E5E5FF !important; color: #151573; margin-bottom:5px; }
	.infoContainer span,
	.infoTxt span					{ display:block; padding:5px; color: #151573; }
	.infotxtimg						{ background: #E5E5FF url(img/msg_icon_error_small.gif) left center no-repeat; padding-left: 20px !important;}
	.infoContainerbg		 		{ background-color: #E5E5FF !important; }
	.infoContainer					{ width: auto; }
	.dialog div.infoContainer 		{ margin-right: 19px; } 
	
	.infoTxtIndent {
		padding-left: 5px;
	}
}