/* 
	© 2008 by namics ag, Noel Bossart
*/

@media all {

	/* general definition */
	.linegroup						{ display: block; margin-bottom: 5px; border-top: 1px solid #BDB6AE; border-bottom: 1px solid #BDB6AE; }
	.linegroup .inner				{ margin-top: 1px; margin-bottom: 1px; padding: 10px; }   
	 
	.linegroup dl 					{ padding: 0; }
	
	/* sub-variations */                                                                             
	.linegroup .inner2 td	 		{ vertical-align: middle; height: 75px; }
	.linegroup .inner2 .radiobtn	{ margin-right: 10px; } 
	
	.linegroup .inner3		 		{ padding: 1px;}
	.linegroup .inner3 td	 		{ vertical-align: middle; height: 75px; }
	.linegroup .inner3 .radiobtn	{ margin: 0px 10px; }
	
	/* variations */
	.linegroup2 					{ border-top-color: #f0ede9; border-bottom-color: #f0ede9; } 
	 
	.linegroupImage					{ padding: 5px 0; }
	.linegroupImage dl				{ float:left; width: auto; border-top-color: #f0ede9; border-bottom-color: #f0ede9; }
	.linegroupImage img				{ float:left; width: auto; margin: 4px 0; }
}