/* 
	© 2008 by namics ag, Noel Bossart
*/

@media all {  
/* realestate online preview */	
	.tabs ul.tablist				{ height: 23px; padding-left: 16px;  background: #F0EDE9 url(../../../img/tabs.gif) 0px -46px repeat-x; list-style-type: none; list-style: none; margin-top:20px;}
	.tabs ul.tablist li	 			{ float: left; height: 19px; width: 107px; padding-top: 4px; background: url(../../../img/tabs.gif) -1px -23px no-repeat;  text-align: center; font-weight: bold; color: #0a5599; cursor: pointer; }
	.tabs ul.tablist li:hover 		{ color: #0068cc; }    
	.tabs ul.tablist li.active		{ width: 108px; margin-left: -1px; background-position: 0px 0px; background-color: #F0EDE9; color: #4D4B49;}     
	
   	.tabs .tabbody					{ min-height: 50px; margin-bottom: 10px; padding: 28px 20px 20px 20px; background-color: #fff; border: #99948D 1px  solid; border-top: none; overflow: hidden;} 

/* print format selection */	
	.tabs2 ul.tablist2				{ height: 23px; padding-left: 16px;  background: #F0EDE9 url(../../../img/tabs2.gif) 0px -46px repeat-x; list-style-type: none; list-style: none; margin-top:20px;}
	.tabs2 ul.tablist2 li	 			{ float: left; height: 19px; width: 350px; padding-top: 4px; background: url(../../../img/tabs2.gif) -1px -23px no-repeat;  text-align: center; font-weight: bold; color: #0a5599; cursor: pointer; }
	.tabs2 ul.tablist li:hover2 		{ color: #0068cc; }    
	.tabs2 ul.tablist2 li.active2		{ width: 365px; margin-left: -1px; background-position: 0px 0px; background-color: #F0EDE9; color: #4D4B49;}     
	.tabs2 ul.tablist2 li.disabled		{ width: 350px; margin-left: -1px; background-position: 0px 0px; background: url(../../../img/tabs2.gif) -1px -23px no-repeat;  color: white; cursor: default;}     
   	.tabs2 .tabbody2					{ min-height: 50px; margin-bottom: 10px; padding: 28px 20px 20px 20px; background-color: #fff; border: #99948D 1px  solid; border-top: none; overflow: hidden;} 

	
}

