/* noel */


@media all {
/* Inline Spans with stat of Inserat */
	span.icon-inmodif,
	span.icon-inmodifdashboard,
	span.icon-inseriert,
	span.icon-entwurf,
	span.icon-inarbeit, 
	span.icon-inarbeitdashboard,
	span.icon-inarbeiterror,
	span.icon-abgelaufen,
	span.icon-critical,
	span.icon-archiviert { float: left; display: block; margin-top: 5px; padding: 3px 0 2px 25px; 
							background-position: left top ; background-repeat: no-repeat; }
	/* Updated Icons... */
	span.icon-inmodif { background: url(../../img/icon_modif.gif) 0 2px no-repeat; color: #FF0000; }
	span.icon-inmodifdashboard { background: url(../../img/icon_modifd.gif) 0 2px no-repeat; color: #FF0000; }
	span.icon-inseriert { background: url(../../img/icon_insert.gif) 0 2px no-repeat; color: #7DB347; }
	span.icon-entwurf { background: url(../../img/icon_draft.gif) 0 2px no-repeat; color: #C92525; }
	span.icon-inarbeit { background: url(../../img/icon_atwork.gif) 0 2px no-repeat; color: #F38E00; }
	span.icon-inarbeitdashboard { background: url(../../img/icon_atworkd.gif) 0 2px no-repeat; color: #F38E00; }
	span.icon-inarbeiterror { background: url(../../img/icon_atworkerror.gif) 0 2px no-repeat; color: #F38E00; }
	span.icon-archiviert { background: url(../../img/icon_archived.gif) 0 2px no-repeat; color: #736F6A; }
	span.icon-abgelaufen { background: url(../../img/icon_expired.gif) 0 2px no-repeat; color: #736F6A; }
	span.icon-critical { background: url(../../img/icon_critical2.gif) 0 2px no-repeat; color: #736F6A; }
	span.icon-advert, span.icon-advert2 { background: url(../../img/icon_advert.gif) 0 0 no-repeat; color:#e47c04; margin-left:24px; padding-left:17px; vertical-align: top;}
	span.icon-advert2 { margin-left:0; }
	
	span.icon-abo, span.icon-abo2 { background: url(../../img/icon_abo_kontingent.gif) 0 0 no-repeat; color:#e47c04; margin-left:24px; padding:2px 0 2px 18px; vertical-align: top;}
	span.icon-abo3 { background: url(../../img/icon_abo_konto.gif) 0 0 no-repeat; color:#e47c04; /*margin-left:28px;*/ padding:2px 0 2px 20px;}
	span.icon-abo2, span.icon-abo3{ margin-left:0; }
	
	span.icon-slot, span.icon-slot2 { background: url(../../img/icon_abo_slot.gif) 0 50% no-repeat; color:#e47c04; margin-left:24px; padding:4px 0 2px 18px; vertical-align: top;}
	span.icon-slot2 { margin-left:0; }
	span.icon-new {background: url(../../img/icon_neu.gif) 0 0 no-repeat; padding-left:28px; margin: 0 !important; }
	span.icon-old {background: url(../../img/icon_old.gif) 0 0 no-repeat; padding-left:28px; margin: 0 !important; }
	
	a.icon-inmodif,
	a.icon-inmodifdashboard,
	a.icon-inseriert,
	a.icon-entwurf,
	a.icon-inarbeit, 
	a.icon-inarbeitdashboard, 
	a.icon-archiviert,
	a.icon-critical,  
	a.icon-inarbeiterror,
	a.icon-abgelaufen { background: transparent url(../../img/icon_insert.gif) 0 0 no-repeat; padding: 2px 0 8px 25px !important;}
	
	a.icon-inmodif { background-image: url(../../img/icon_modif.gif); }
	a.icon-inmodifdashboard { background-image: url(../../img/icon_modifd.gif); }
	a.icon-entwurf { background-image: url(../../img/icon_draft.gif); }
	a.icon-inarbeit { background-image: url(../../img/icon_atwork.gif);}
	a.icon-inarbeitdashboard { background-image: url(../../img/icon_atworkd.gif);}
	a.icon-inarbeiterror { background-image: url(../../img/icon_atworkerror.gif);}
	a.icon-archiviert { background-image: url(../../img/icon_archived.gif);}
	a.icon-abgelaufen { background-image: url(../../img/icon_expired.gif);}
	

	table.data td { padding-right: 5px;}
	table.data tr.jq_rowselected td, table.data tr.rowselected td  { background: url(../../img/table_tr-expanded_bg_2.gif) left top repeat-x; }
	table.forms tr.jq_rowselected td, table.forms tr.rowselected td { background: #d6ecc8; }
	table.forms tr.jq_rowselectedred td, table.forms tr.rowselectedred td { background: #ffdbdb; }
	img.jobsimg { max-width:110px; height:34px; float:right; }
	img.immoimg { max-width:110px; height:34px; float:right; }
	tr.expandedrow td {	background: #DBDBDB url(../../img/table_tr-expanded_bg.gif) left top repeat-x;  }

/* Classes for AJAH functions, adding Content via jQuery */	
	tr.expandedsubrow td { background-color: #E6E1D9; background-image:none; padding-left: 28px; }
	table.objectdetail { border-collapse: collapse; /*width: auto;*/ width:655px; margin-top:-8px;}
	div.boxbg table.objectdetail th { background-image:url('../../img/tableheaderbg-hell.gif');} 
	tr#objectdetail_empty td { background: #E6E1D9; border-bottom:1px solid #E6E1D9;}
	
	tr.expandedsubrowsimple td { background-color: #fff; background-image:none; padding-left: 0; }
	table.objectdetailsimple { border-collapse: collapse; /*width: auto;*/ width:580px; margin-top:-8px; margin-bottom:0; border-top:1px solid #F0EDE9;}
	
	
/* AJAH pages */ 
	table.objectdetailsimple tr td { background: #fff; padding-top: 7px; height: 2.20em; border-bottom:1px solid #F0EDE9;}
	table.objectdetailsimple tr.jq_rowselected td {}
	table.objectdetail tr td { background: #fff; padding-top: 7px; padding-bottom: 0px; height: 2.20em; }
	table.objectdetail tr td { background: #fff; padding-top: 7px; padding-bottom: 0px; height: 2.20em; }
 	table.objectdetail tr.secondpart td { background-color: #fff; border-bottom: 1px solid #D4CDC3;}
	table.objectdetail tr.firstpart td { padding-top: 15px; padding-bottom: 0px; background: transparent url(../../img/table_tr-expandedsub_tr_bg.gif) 0 -1px repeat-x;}
	table.objectdetail tr.singlepart td { border-bottom: 1px solid #D4CDC3;padding-top: 15px; padding-bottom: 0px; background: transparent url(../../img/table_tr-expandedsub_tr_bg.gif) 0 -1px repeat-x;}
	table.objectdetail tr.jq_rowselected td { background: transparent url(../../img/table_tr-expandedsub_tr_bg_2.gif) 0 -1px repeat-x; }

	table.objectdetail td { padding: 0 1px 0 0; border-bottom: 1px solid #FFF; }
	/*table.objectdetail a { padding: 0 1px 0 0;  } */   

	table.objectdetail tr.lastrow td { background: none; border: none; border-bottom-color:#E6E1D9;}
		
	tr.expandedsubrow table.objectdetail th { background: none; font-weight: bold; padding: 0; }
	table.objectdetail th { border-bottom: 1px solid #E5E0D8; }		
		
	table.objectdetail tr.bottomborder td, 
	table.objectdetail td.bottomborder {  border-bottom: 1px solid #D4CDC3; }
	table.objectdetail tr td {border-top-color:#e6e1d9;}
	strong { font-weight: bold;}
	
	.size50-50 { width: 315px; }
	.size75-25 { width: 380px; }             
	
	tr.expandedsubrow table.objectdetail a.previewlink { position: absolute; margin-top: -3px;}
	tr.expandedsubrow table.objectdetail a.previewlink img { vertical-align: -1px;}
		
	table.whitebg tr td { background: #fff; border: none;}
	table.whitebg { border: 1px solid #E5E0D8; border-left: none; border-right: none;}  
	                                                                                           
	table.objectdetail button { margin-top: -6px !important; margin-bottom: 0 !important; } 
	table.objectdetail .firstpart button { margin-top: -8px !important; margin-bottom: 0 !important; }   
		
	.jq_autocomplete { background: #fff url(../../img/icon_pfeil.gif) right center no-repeat;}
	.floatright { float:right; }
	.floatleft { float:left; margin-right:5px; margin-left:0; }
	
	table button.jq_removerow { float: none; }
	
	table.mediaselect tr td { background: #fff;	padding: 7px 0 7px 0; }
	table.jq_selecttable tr.expandedtablerow { display: none; }
	table.mediaselect tr.expandedtablerow td { padding: 0; background: #F7F6F2 url(../../img/table-objectdetails_bg.gif) left top repeat-x;}
	table.mediaselect tr.expandedtablerow td a { font-weight:normal; }
	table.mediaselect tr.expandedtablerow td td { padding: 7px 0; background:none;} 
	table.mediaselect tr.expandedtablerow td table { margin-left: 25px;}	
	
	table.mediaselect tr.jq_rowselected td { background: #d6ecc8; }
	     
	table.jq_calendar_datelist{ border-collapse:collapse; border: none;}
	
	table.jq_calendar_datelist { border-collapse:collapse; border: none; }
	.datelink { font-weight: bold;}
    
	table.objectdetail *, table.smallFont * { font-size:1em; }
	table.objectdetail button span,               
	table.smallFont button span { font-size: 11.5px; }
	
	.alignbottom { vertical-align: bottom; padding-bottom: 3px; }
	.alignmiddle { vertical-align: middle; }
    
	#TB_window ul.fileupload,       
	#TB_window ul.imageupload { list-style: none inside; width: 570px;  }
	#TB_window ul.jobsimageupload { list-style: none inside; width: 350px; float: left; }
	/*#TB_window ul.imageupload { border-top: 1px solid #F0EDE9; }*/
	
    
	#TB_window ul.fileupload li.jq_item,
	#TB_window ul.jobsimageupload li.jq_item,
	#TB_window ul.imageupload li.jq_item { padding: 0; margin: 0; background: 0; list-style: none inside;  float: left; border-bottom: 1px solid #F0EDE9;}
	
	#TB_window .imageupload p,
	#TB_window .jobsimageupload p,
	#TB_window .fileupload p { margin: 0; padding: 0; margin-top: 2px;}
	
	a.jq_deleteitem,
	a.jq_selectitem { color: #0A5599 !important; border-top: 5px solid #fff;}
	
	a.immo_img img { float:left; padding: 1px; height: 80px; max-width: 400px; border: 2px solid #fff !important;}
	a.jobs_img img { float: left; padding: 1px; height: 80px; max-width: 400px; border: 2px solid #fff !important;}
	.jq_selecteditem a.immo_img img { padding: 1px !important; border: 2px solid #6BBB39 !important;}
	.jq_selecteditem a.jq_selectitem { color: #6BBB39 !important;}  
	  
	
	a.jq_deleteitem img,  
    a.jq_selectitem img { vertical-align: -3px; border: none; }
    .uploadform button#selectbtn { margin-top: -6px; margin-left: 3px; }

	label.jobslogoupload { display: block; width: 149px; padding-right: 10px; text-align: right; float: left; }
	
	table.jobscontact { width: 488px; margin-bottom: 10px; border-collapse:collapse; }
	table.jobscontact h4 { width: auto; }
	table.jobscontact td.leftrow { width: 58px; text-align: right; color:#99948D; }
	table.jobscontact td.rightrow { width: 150px; padding-left: 10px; }
	table.jobscontact td.topborder { border-top: 1px solid #F0EDE9; }
     
	/* HACK */
	.uploadform button#uploadbtn { margin-left: -3px; } /* FF only */
	
	.mceEditorIframe { width: 680px !important; }  /* tinyMCE normal width */  
	.boxbg .mceEditorIframe { width: 650px !important; }  /* tinyMCE in boxbg width */      
	#TB_window .mceEditorIframe { width: 573px !important; height: 63px !important; }  /* tinyMCE TB width */
	#TB_window div.tinymce_noTextLists .mceEditorIframe { height: 18px !important; }  /* tinyMCE height */
	#TB_window div.tinymce_noTextLists .mceEditor { height: 28px !important; }
	#TB_window .mceEditorIframe textarea { width: 573px !important;}
	#TB_window .mceEditor { background-color:transparent;}
	
	/*#TB_ajaxContent .resultsrow, 
	#TB_ajaxContent .inforow,
	#TB_ajaxContent .errorrow {	width:554px; } */
	
	#TB_ajaxContent .resultsrow p,
	#TB_ajaxContent .inforow p,
	#TB_ajaxContent .errorrow p { padding:0 0 10px 0; }
	 
	#TB_ajaxContent .resultsrow img,
	#TB_ajaxContent .inforow img,
	#TB_ajaxContent .errorrow img { margin-left:0; }
	
	#TB_ajaxContent fieldset { padding:0 10px 5px 10px; /* width: 553px;*/ }
	
	div.jobsonlinepreview { margin: 5px 0; }
	.nologo { display: none; }
	h3.jobsonlinepreview { font-size: 16px; font-weight: bold; }
	h4.jobsonlinepreview { color: #000; }
	a.jobsonlinepreview { color: #000; font-weight: bold;}
	
	/* MYPP-1198 bullet qui ne s'affichait pas dans le preview online*/
	fieldset.bulletAdjust ul{ margin-left:10px; }
}