/* 
	© 2008 by namics ag, Noel Bossart
*/

@media all {  
	
	#s3025-00 table						{ width: 585px; }    
	#s3025-00 .linegroup dl				{ width: 580px; }  
	#s3025-00 .linegroup table			{ width: 578px; }
	#s3025-00 fieldset table			{ width: 558px; }
	
	#s3315-00 .linegroup img			{ float: left; width: auto; margin: 4px 4px 4px 0; }       
	#s3315-00 .linegroup dl.labelbox	{ float: left; }
	#s3315-00 .linegroup dd,
	#s3315-00 .linegroup dt				{ border: none; }
	
	#s3317-00 .previewImage				{ margin-top: 5px; margin-bottom: 10px; }  
	
	#s3319-00 .linegroup		 		{ cursor: pointer; color: #736F6A;}
	#s3319-00 .linegroup table			{ width: 558px; }
	#s3319-00 .jq_additional			{ padding-top: 10px; }
	
	#s3627-00 .specific01 				{ padding-bottom: 0; border-bottom: 1px solid #F0EDE9;}
	#s3627-00 .online .labelbox 		{ width: 490px; }
	
	#s3630-00 .specific01 				{ padding-bottom: 0; border-bottom: 1px solid #F0EDE9;}
	#s3630-00 .online .labelbox 		{ width: 490px; }
	
	#s3632-00 .specific01 				{ padding-bottom: 0; border-bottom: 1px solid #F0EDE9;}
	#s3632-00 .online .labelbox 		{ width: 490px; }
	
	#s3638-00 .specific01 				{ padding-bottom: 0; border-bottom: 1px solid #F0EDE9;}
	#s3638-00 .online .labelbox 		{ width: 490px; }
	
	#s3657-00 .specific01 				{ padding-bottom: 0; border-bottom: 1px solid #F0EDE9;}
	#s3657-00 .online .labelbox 		{ width: 490px; }
	#s3657-00 #email2					{ margin-top: 5px;}
	
	#s3665-00 .specific01 				{ padding-bottom: 0; border-bottom: 1px solid #F0EDE9;}
	#s3665-00 .online .labelbox 		{ width: 490px; }
	#s3665-00 h1				 		{ margin: 0; }
		
	#s3696-00 .linegroup				{ margin-bottom: 0px; }	   
	#s3696-00 .linegroup .labelbox		{ width: 450px; }    
	
		/*#s3696-10 dl					{ padding: 2px 0; }       */
		#s3696-10 .leftside				{ float:left; width: 185px; margin-right: 32px; }
		#s3696-10 .rightside			{ width: 274px; }
		
		#s3696-30 .googlemaps 			{ width: 100%; height: 380px; border: none; overflow: hidden; }
		
	#s4509-00 #email2					{ margin-top: 5px;}
	#s4512-00 #email2					{ margin-top: 5px;}  
	#s4515-00 #email2					{ margin-top: 5px;}
	 	                                                    
	#s4518-10							{ padding-left: 15px; margin-top: 5px; line-height: 2em;}
	#s4518-20 .data						{ margin: 0; }   
		
	#s4518-30							{ padding-left: 15px; margin-top: 5px; line-height: 2em;}
	#s4518-40 .data						{ margin: 0; }
	
    #s4526-00 #email2					{ margin-top: 5px;}                     

	#s4479-30 .linegroup img			{ float: left; width: auto; margin: 4px 0; }       
	#s4479-30 .linegroup dl.labelbox	{ float: left; }
	#s4479-30 .linegroup dd,
	#s4479-30 .linegroup dt				{ border: none; }
	 
	#s4479-40 .previewImage				{ margin-top: 5px; margin-bottom: 10px; }      
	
	#s4479-50 .linegroup		 		{ cursor: pointer; color: #736F6A;}
	#s4479-50 .linegroup table			{ width: 558px; }
	#s4479-50 .jq_additional			{ padding-top: 10px; }
	
	#s4481-00  .online .labelbox 		{ width: 490px; }
	
}