/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;      
	/* 071011 - modified */   
	background-color:#05101a; 
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	background: rgb(5, 16, 26); /* Fallback */
	background-color: rgba(5, 16, 26, 0.9);
	/* 071011 - modified */   
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	text-align:left;
	top:50px;
	left:50%;
	/* 071011 - modified */   
	border: 3px solid #f08000;
	/* 071011 - modified */
}

* html #TB_window { /* ie6 hack */
	position: absolute;
	/*margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');*/
}

#TB_window img#TB_Image {
	display:block;
	margin: 30px 0 0 15px;
	/*border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;*/
}

#TB_caption{
	height:25px;
	padding:7px 30px 0px 15px; /* 071011 - modified */   
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:0px 0px 10px 0;
	/*float:right;*/
	/* close button für images */
	position:absolute;
	right:0px;
	top:0;_bottom:-16px;
	padding:0;
	height:20px;
	width: 20px;
	/*end*/
}

#TB_closeWindow a {
	display:block;
	width:20px;
	height:20px;
	background: url(img/icon_close.gif) right top no-repeat;
}

#TB_closeAjaxWindow{
	padding:0 0 5px 0; /* 071011 - modified */
	margin-bottom:1px;
	text-align:right;
	float:right;
}      

/* 071011 - modified: Added this class */
#TB_closeAjaxWindow a{
	color:#fff !important;
	float:right;
	height:0;
	width:20px;
}
/* 071011 - modified: Added this class */

#TB_ajaxWindowTitle{
	float:left;     
	/* 071011 - modified
	padding:7px 0 5px 10px;
	margin-bottom:1px;           */
}

#TB_title{
	background-color:#fff;
	/* 071011 - modified
	background-color:#e8e8e8;
	height:27px; */
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 18px 15px; /* br 18.12.2007 TB abstand unten */
	overflow:auto;
	text-align:left;
	line-height:1.4em;  
	/*overflow-x: hidden;*/ /*br 07.10.08 wenn vorschau bilder viel grosser als tb sind*/
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
