/* ben */

@media all {
	.browse {
		margin-top:-3px;
	}
	.browse p {
		float:left;
		width:225px;
		margin:3px 0 0 0;
		color:#736f6a;
	}
	
	.browse p strong {
		color:#000;
		font-weight:bold;
	}
	
	.browse a {
		float:left;
		width:19px;
		margin:0 5px;
	}

	.browse span {
		float:left; 
		width:auto; 
		margin:0;
		padding:0 0 0 .5em;
	}

	span.browsebtnover,
	span.browsebtn {
	    float:left;
	    background:#f7f6f2 url(../../img/bg_browse.gif) top left no-repeat;
	    padding:0 0 0 .5em;
	}
	
	
	span.browsebtn a {
		float:left;
		background: #f7f6f2 url(../../img/bg_browse.gif) top right no-repeat;
		color:#736f6a;
		padding:3px 0.5em 0pt 0pt;
		font-weight:bold;
		line-height:1.5em;
		height:16px;
		margin:0;
		width:auto;
	}
	
	span.browsebtnover {
	    float:left;
	    background:#0068cc url(../../img/bg_browse.gif) top left no-repeat !important;
	    padding:0 0 0 .5em;
	    color:#fff !important;
	}
	
	span.browsebtnover a {
	    background: #0068cc url(../../img/bg_browse.gif) top right no-repeat !important;
	    color:#fff !important;
	}
	
	span.browsebtnover a:hover {
	    color:#fff !important;
	}
	
	.browse span.active, .browse span.active a {
		background-image: none !important;
		background-color:transparent !important;
		color:#000 !important;
	}
	
	.searchheader th, .searchheaderempty th {
		border-bottom:1px solid #DBDBDB;
		padding:0 !important;
		vertical-align:bottom !important;
	}
	
	.searchheaderempty th {
		border-bottom:1px solid #DBDBDB;
		line-height:4px;
	}
	
	tr.mapheader th {
		padding-left:5px;
		line-height:12px;
		border-bottom:1px solid #bdb6ae;
	}
	
	
	.searchheader a {
		float:left;
		width:auto;
		height:20px;
		padding:9px 20px 0 13px;
		margin-left:16px;
		font-size:110%;
	}
	
	.searchnav a {
	    float:left;
	    background: transparent url(../../img/bg_searchnav_right.gif) top right no-repeat;
	    height:22px;
	    padding:9px 20px 0 13px;
	    width:auto;
	    overflow:hidden;
	    margin-left:0;
		font-size:110%;
	}

	
	span.searchnav {
	    float:left;
	    background: #fff url(../../img/bg_searchnav_left.gif) top left no-repeat;
	    height:31px;
	    padding-left:6px;
	    margin-bottom:-2px !important;
	    margin-left:16px;
	    position:relative;
	}
	
	span.searchnav a {
	   color:#4d4b49 !important;
	   cursor:default;
	   
	   
	}
	
	.searchbox { padding-bottom:10px; }
	
	/*span.searchresults { float:right;}*/
	
	.resultsrow, .inforow, .errorrow {
		background-image:none !important;
		margin: 5px 0 10px 0;
		padding: 12px 10px 8px 10px;
		background: #d6ecc8 !important;
		color: #28401a;
		/*border:1px solid #6bbb39;*/
		border:1px solid #fff;
	}
	.resultsrow label {
		color: #28401a;
	}
	.boxbg .resultsrow, .boxbg .inforow, .boxbg .errorrow {
		width:628px; 
	}
	
	.resultsrow p, .inforow p, .errorrow p,
	 .inforow .indented, .resultsrow .indented, .errorrow .indented {
		padding: 0 0 10px 26px;
		line-height: 1.5em;
	}
	.resultsrow div, .inforow div, .errorrow div {
		margin:0 0 5px 0;
	}
	
	.resultsrow a,
	.inforow a,
	.errorrow a {
		float:right;
		margin-top:-12px;
		color: #28401a !important;
	}
	
	.inforow a.infolink {
		color: #151573;
		float: none;
		text-decoration: underline;
	}
	
	.inforow a {
		color: #0a5599 !important;
	}
	
	.errorrow a {
		color: #802525 !important;
	}
		
	.resultsrow img.msg_info, .inforow img.msg_info, .errorrow img.msg_info {
		vertical-align: middle;
		float:left;
		width:auto;
		padding:0 10px 25px 0;
		margin-left:-26px;
	}
	
	.resultsrow select, .inforow select, .errorrow select {
		margin:0;
	}
	
	.resultsrow td strong,
	.inforow td strong,
	.errorrow td strong {
		font-weight:bold;
	}
	
	.inforow { 
		background: #e5e5ff !important;
		color: #151573;
		/*border:1px solid #ffffff;*/
		overflow: hidden; /* is required for including div elements - otherwise the bg is too small */
	}
	
	table.whitebg tr.errorrow,
	.errorrow { 
		background: #ffdbdb !important;
		color: #802525;
		/*border:1px solid #c61313;*/
	}
	
	.results {
		background-color:#d6ecc8;
		margin-bottom:10px;
		height:17px;
		padding:7px 0 5px 5px;
		width:685px;
	}
	
	.results img {
		float:left;
		width:auto;
		margin:0 10px 0 5px;
	}
	
	.searchrow td {
		background:none !important;
	}
	
	.sizesearch {
		width:135px;
		margin-bottom:2px;
	}
	
	table.searchresults  {
		margin:10px 0 0 0;
		padding:0;
		border-collapse:collapse;
		border-spacing:0;
		/*width:655px;*/ width:675px;
	}

	table.searchresults td {
		padding:0 0 15px 0;
		margin:0 0 5px 0 !important;
		border:0;
	}
	
	td.searchleft {
		background: #DBDBDB url(../../img/bg_search.gif) left bottom no-repeat !important;
		width:20em;
		padding:10px 0 0 10px !important;
		margin-top:1px !important;
	}
	
	
	td.searchright {
		background:#DBDBDB url(../../img/bg_search.gif) right bottom no-repeat !important;
		padding:0px 0 0 0 !important;
	}
	
	table.forms h5.line, h5.line {
		background:transparent url(../../img/middle_line.gif) 0 3px no-repeat !important;
		margin-top: 0 !important;
		width: auto;
	}
	
	table.offerSelected {
		margin-top: 0 !important;
		width: auto;
		border: 3px solid green;
		padding: 5px;
		background: #D6ECC8;
	}
	
	table.offerNotSelected {
		margin-top: 0 !important;
		width: auto;
		border: 3px solid lightgrey;
		padding: 5px;
	}
	
	fieldset h5.line { margin-top:20px; border-left:25px solid #fff !important;}
	
	h5.line {
		background:transparent url(../../img/middle_line.gif) 0 3px no-repeat !important;
		margin-bottom:10px !important;
	}
	
	h5.line span {
		background-color:#fff;
		padding-right:5px;
		font-weight:bold;
	} 
	
	h6.rtetitle { 
		margin:0;
		padding:2px 0 0 5px;
		height:23px;
		background:#e5e0d8;
		border-bottom: 1px solid #333;
	}
	
	input.rtetxt,
	h6.rtetitle { 
		width:570px;
	}
	
	input.rtetxt {
		border-top: none;
	}
	
	.searchleft table.forms h5.line { width: 650px; width: auto; }
	
	
	div.boxbg h5.line span,
	table.data h5.line span {
		background-color: #DBDBDB;
	}

	.footerrow2 td { 
		background:transparent url(../../img/tablefooterbg_grey.gif) center top no-repeat !important;
		padding:20px 0 0 0;
		height:27px; 
	}
	td.footerleft2 span { 
		background: transparent url(../../img/bg_corners_grey.gif) bottom left no-repeat;
		display:block;
		width:5px;
		height:100%;
	}
	td.footerright2 span { 
		background: transparent url(../../img/bg_corners_grey.gif) bottom right no-repeat;
		display:block;
		width:5px;
		height:100%;
	}
	
	.calbox { 
		background-color:#fff;
		border-top:1px solid #e5e0d8;
		border-bottom:1px solid #e5e0d8;
		width:640px;
		padding:10px 0 10px 10px;
		margin-bottom:5px;
	}
	
	.calbox h3 {
  		margin: 0 5px 5px 0;
  		color: #333;
 	}
	
	/* consultas placement error in the calendar */
	.errorcalbox { 
		background-color:#FFDBDB !important;
	}
	
	table.planner { 
		width: 490px;
		margin-left:160px;
		padding:9px 0 6px 0;
		border-collapse: collapse;
	}
	table.planner th { 
		background: transparent url(../../img/tableheaderbg-hell.gif) no-repeat 50% 0%; vertical-align:middle;
	}
	
	table.planner tr.headerbottom th { background: transparent url(../../img/tableheaderbg-hell-bottom.gif) 50% 0% no-repeat; border-top:4px solid #f0ede9; background-position:center bottom;}
	table.planner tr.headerbottom th.headerleftbottom { background-position:left bottom; width:5px; }
	table.planner tr.headerbottom th.headerrightbottom { background-position:right bottom; width:5px; }
	
	table.planner td { 
		text-align:left;
		padding:5px 0;
		background-image:none;
		background-color:#fff;
		border-top:4px solid #f0ede9!important;
		border-bottom:0;
		color:#736f6a;
	}
	.calendar_container { width:140px; float:left;}
	.calendar_container td { border-bottom:1px solid #f7f6f2; }
	.calendar { 
		margin:0 0 0 9px;
		border-collapse:collapse; 
		float:left;
	}
	.jq_secondmonth { margin-left: 18px;}
	
	.calendar p {
		padding: 0;
	}
	
	.calendar td {
		vertical-align:bottom;
		width:32px;
		height:32px;
		border:1px solid #fff;
		background-color: #e5e0d8;
		color:#736f6a;
	}

	
	.active { font-weight:bold; }
	
	.calendar td input {margin:0 0 2px 2px; }
	.calendar td p { 
		position:relative;
		height:1%;
	}      
	
	.calendar td p span {
		position:absolute;
		top:-30px;
		right:4px;
		line-height:14px;
		font-size: 10px;
	}          
	
	.calendar tr.odd td { background-color: #f0ede9; }
	.calendar tr.odd td.weekend { background-color: #edf2f7; }
	
	.calendar td.weekend { 
		background-color: #dce2e8;
		color:#736f6a;
	}
	
	/* when the online calendar are in modification. all disabled */
	.calendar tr.odd td.inModification,
	.calendar td.inModification { 
		background-color: #FFFFF0;
		color:#696969;
	} 
	.calendar td.inModificationPicked, 
	.calendar tr.odd td.inModificationPicked { 
		background-color: #EEE9E9;
		color:#696969;
	} 
	/* when the day is previous today */
	.calendar td.toEarly { 
		background-color: #f3f3f3;
		color:#d2d2d2;
	}   
	/* when the day is after the maxEndDate */
	.calendar td.toLate { 
		background-color: #f3f3f3;
		color:#d2d2d2;
	}
	/* when the day is between the maxStartDate and maxEndDate */
	.calendar tr.odd td.between,
	.calendar td.between { 
		background-color: #feeff1;
		color:#d2d2d2;
	}   

	.calendar tr.odd td.today,
	.calendar tr td.today, { 
		background-color: #a3d982;
		color:#736f6a;
	}
	
	.calendar tr.odd td.specialedition,
	.calendar tr td.specialedition { 
		background-color: #ffe7a6;
		color:#736f6a;
	}
	.calendar tr.odd td.picked,
	.calendar tr td.picked, 
	.calendar tr.picked td { 
		background-color: #d6ecc8;
		color:#306111;
	}
	
	.calendar tr.odd td.calendar_hover,
	.calendar tr td.calendar_hover, 
	.calendar tr.calendar_hover td { 
		background: #c6dcb8 url(../../img/arrow_picked.gif) 22px 22px no-repeat;           
		color:#306111;
    	cursor: pointer;
	} 
	
	.calendar tr.odd td.picked_first,
	.calendar tr td.picked_first, 
	.calendar tr.picked_first td { 
		background: #d6ecc8 url(../../img/arrow_picked.gif) 22px 22px no-repeat;
		color:#306111;
    	cursor: pointer;
	}
	
	.calendar tr td.empty,
	.calendar tr.picked td.empty { background-color: #fff; }
	p.legend { 
		width:490px;
		margin:13px 0 15px 160px;
	}
	p.legend strong { 
		margin-right:18px;
		
	}
	p.legend img {
		border:1px solid #736f6a;
		width:11px;
		height:11px;
		margin:0 5px -2px 5px;
	}
	p.legend img.duration { background-color:#d6ecc8; }
	p.legend img.special { background-color:#ffe7a6; }
	
}