@media print{

	#mainnav,
	#header,
	#processnav,
	button,
	#info1,
	.preview,
	.message,
	#footer {
	  display: none !important;
	}
	
	#wrap,
	body,
	#portlets,
	.boxbg,
	.dialog,
	.dialog .hd .c,
	.dialog .ft .c,
	.dialog .hd, 
	.dialog .hd .c,
	.dialog .ft,
	.dialog .ft .c,
	.edit
	 { 
		background-image:none!important;
		background-color:#fff!important;
		font-size:10pt !important;  
	}
		
	
		
	html * {
		float:none !important;
		overflow: visible !important;
	}
	.noedit, .edit { border:0 !important; }
	h1 { 
		border-bottom:3px solid #F08000 !important;
		padding-bottom:5px;
	}
	dl {padding:0 !important; }
	dd { margin-left:0;}
	
	table.data, table.forms { width:16.6cm !important; } 
	table.calendar, table.calendar_container { display:table-cell; }
	table.planner { margin-left:0 !important; }

}